.QueryComponent .CodeMirror{font-family:monospace;height:300px;color:#000;direction:ltr}
.QueryComponent legend,label{ font-family: 'Inconsolata'; font-size: small;}
.QueryComponent button.ExecuteButton{ margin:20px;}